{% extends 'base.html.twig' %}

{% block title 'Toutes les réserevations' %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container mt-4">
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    {{ reservation.date|date("d/m/Y") }}
                    {{ reservation.time|date("H:i") }}
                    - {{ reservation.nbClient }} client{% if reservation.nbClient > 1 %}s{% endif %}
                    - {{ reservation.name }} ({{ reservation.phone }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}