{% extends 'base.html.twig' %}

{% block title 'Réservations du midi' %}

{% block body %}
	{{ include('navbar.html.twig') }}
	<div class="container mt-4">
		<div class="row d-flex justify-content-center">
			<span class="pb-4">Service du Midi -
				{{ date('now') | date('d/m/Y') }}</span>
		</div>
		<ul class="list-group">
			{% for reservation in reservations %}
				<li class="list-group-item">
					{{ reservation.time|date("H:i") }}
					-
					{{ reservation.nbClient }}
					client
					{% if reservation.nbClient > 1 %}s
					{% endif %}
					-
					{{ reservation.name }}
					({{ reservation.phone }})
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
