{% extends 'base.html.twig' %}

{% block title 'Ajouter une réservation' %}

{% block body %}
	{{ include('navbar.html.twig') }}
	
    <div class="container mt-4">
        <h4 class="text-center pb-4">Ajouter une réservation</h4>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">{{ form_row(form.nb_client) }}</div>
                <div class="col-md-4">{{ form_row(form.date) }}</div>
                <div class="col-md-4">{{ form_row(form.time) }}</div>
            </div>
            <div class="row">
                <div class="col-6">{{ form_row(form.name) }}</div>
                <div class="col-6">{{ form_row(form.phone) }}</div>
            </div>
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">Ajouter la réservation</button>
        {{ form_end(form) }}
    </div>

{% endblock %}