<li class="list-group-item">
<div class="row d-flex-inline">
	<div class="col-11">
		{{ reservation.date|date("d/m/Y") }}
		{{ reservation.time|date("H:i") }}
		-
		{{ reservation.nbClient }}
		client{% if reservation.nbClient > 1 %}s{% endif %}
		-
		{{ reservation.name }}
		({{ reservation.phone }})
	</div>
	<div class="col-1">
		{% if reservation.confirm == false %}<a class="js-confirm" href="{{ path('reservation.confirm', {'id': reservation.id}) }}"><i class="fas fa-exclamation text-warning"></i></a>
		{% elseif reservation.confirm == true %}<i class="fas fa-check text-success"></i>{% endif %}
	</div>
</div>
	
</li>