<li class="list-group-item" id="reservation-{{reservation.id}}">
<div class="row d-flex-inline">
	<div class="col-11 d-flex align-items-center">
		{{ reservation.date|date("d/m/Y") }}
		{{ reservation.time|date("H:i") }}
		-
		{{ reservation.nbClient }}
		client{% if reservation.nbClient > 1 %}s{% endif %}
		-
		{{ reservation.name }}
		({{ reservation.phone }})
	</div>
	<div class="col-1 d-flex justify-content-end">
		<a class="btn btn-danger js-remove" href="{{ path('reservation.remove', {'id': reservation.id}) }}">
			<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
			<i class="far fa-trash-alt"></i>
		</a>
	</div>
</div>
	
</li>