<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('home') }}">Tableau de Bord</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
  {% if app.user %}
		<div class="navbar-nav">
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.listDayLunch' %}active{% endif %}" href="{{ path('admin.reservation.listDayLunch') }}">Résas du Midi</a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.listDayEvening' %}active{% endif %}" href="{{ path('admin.reservation.listDayEvening') }}">Résas du Soir</a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.confirmation' %}active{% endif %}" href="{{ path('admin.reservation.confirmation') }}">A confirmer</a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.gestion' %}active{% endif %}" href="{{ path('admin.reservation.gestion') }}">Gestion</a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.history' %}active{% endif %}" href="{{ path('admin.reservation.history') }}">Historique</a>
			<a class="nav-link {% if current_menu is defined and current_menu == 'reservation.new' %}active{% endif %}" href="{{ path('admin.reservation.new') }}">Ajouter une réservation</a>
		</div>    
    <div class="navbar-nav">
			<a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
		</div>
    {% else %}
    <div class="navbar-nav">
			<a class="nav-link" href="{{ path('login') }}">Se connecter</a>
		</div>
    {% endif %}
	</div>
</nav>